@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700');

body{
	font-family: 'Nunito', sans-serif;
    
background-image: url("/src/assets/img/bg-header.png");
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    margin-bottom: 0;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

.base-card{
    box-shadow: 0xp 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}